</div>
    <div class="beerJar">
        <img src="/images/beer.png" alt="Beer Jar">
        <button>
            <a href="/beers">Check the Beers!</a>
        </button>
        <button>
            <a href="/random-beer">Check a Random Beer</a>
        </button>
    </div>
</div>